modules = ["nodejs-20", "python-3.11", "web"]
run = "npm run dev"

[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "imagemagickBig", "sox", "tcpdump", "wireshark"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 9111
externalPort = 80

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 41504669
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[agent]
expertMode = true
